version: "3.8"

services:
  product-postgres:
    image: postgres:15
    container_name: product-postgres
    restart: always
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  product-api:
    image: saurabh2108/product-api:latest
    container_name: product-api
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - product-postgres
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  postgres_data: